

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.m-index {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.m-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    background: #333!important;
    font-size: 16px!important;
    margin: 0!important;
}

.m-menu {
    display: flex;
    padding: 5px 10px 5px 200px;
    background: #eee;
    position: relative;
    height: 35px;
    flex-direction: row-reverse;
}

.m-menu>div {
    font-size: 12px;
    background: #3366aa;
    padding: 2px 10px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.m-root {
    /*width: 100%;*/
    height: 100%;
}

.m-wl {
    margin: 5px;
    display: flex;
    background: #eee;
    /*padding: 5px;*/
    box-shadow: 2px 2px 2px #eee;
}



.m-wl-c {
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /*padding: 0 10px;*/
    background: #ff3300;
    color: #fff;
    margin-right: 5px;
    flex-direction: column;
}


.m-wl-time {
    background: #666;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.m-wl-count {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.m-item {
    display: flex;
    font-size: 12px;
    color: #fff;
    align-items: center;
    /*margin: 5px;*/
    margin: 5px 0 5px 5px;
    position: relative;
}


.m-item-cnt {
    /*padding: 5px 10px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #eee;
    color: #666;
    /*height: 40px;*/
    width: 80px;
    cursor: pointer;
    position: relative;
    padding-left: 10px; 
}

.m-item-cnt:hover {
    background: #dbe6e8
}

.m-item-fun {
    display: flex;
    flex-direction: column;
    height: 40px;
}

.m-item-fun>div {
    padding: 0 10px;
    flex: 1;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.m-item-add {
    background: #ff6600;
}

.m-item-add:hover {
    background: #ff0000;
}

.m-item-del {
    background: #339966;
}

.m-item-del:hover {
    background: #33aa66;
}


.m-child {
    min-width: 10px;
    min-height: 20px;
    border-left: 1px solid #ccc;
    /*border: 1px dashed #ccc;*/
    /*margin: 0 5px;*/
    margin: 5px;
}


.m-item-cnt>select {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0;
}

.m-word {
    display: inline-block;
    font-size: 12px;
    background: #666;
    padding: 2px 5px;
    margin: 5px 5px 0 0;
    color: #fff;
    width: 85px;
}

.m-word:first-letter,.m-val:first-letter {
    font-size: 14px;
    color: #ff3300;
    font-weight: bold;
    margin-right: 2px;
}


.m-wl-l {
    flex: 1;
}



.m-item:first-child {
    margin-top: 0;
}

.m-item:last-child {
    margin-bottom: 0;
}



.m-item:first-child:before,.m-item:last-child:before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    width: 5px;
    background: #ccc;
    height: 1px;
}

.m-item:first-child:before {
    top: 0;
}

.m-item:last-child:before {
    bottom: 0;
}



.m-item:only-child:after {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    width: 5px;
    background: #ccc;
    height: 1px;
    bottom: 0;
}







