

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* background: #333; */
}

.m-login {
    width: 600px;
    background: #eee;
    height: 200px;
    display: flex;
    margin-top: 100px;
}

.m-logo {
    width: 300px;
    background: #666;
    padding: 30px 40px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


.m-input {
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    color: #666;
    margin: 5px 0;
}

.m-btn {
    text-decoration: none;
    background: #006699;
    color: #fff;
    padding: 8px 10px;
    margin: 30px 0;
    text-align: center;
}